@media screen and (max-width: 425px){
  .header{
    height: 122px;
    padding-left: 25px;
  }
  .slider{
    padding-bottom: 60px;
    padding-top: 15px;
    &__row {
      height: 80px;
    }
    &-video{
      width: 339px;
    }
    &__box{
      width: 339px;
      height: 70px;
      border-top: 4px solid rgba(0, 0, 0, 0);
      &__head{
        &-title{
          &.big {
            font-size: 1.4rem;
          }
          &.small{
            font-size: 1.1rem;
          }
        }
        &-beerka{
          margin-top: 4px;
          font-size: 0.7rem;
        }
      }
      &.active {
        width: calc(339px + 40px);
        height: calc(80px + 60px);
        padding: 4px 20px 60px;
      }
      &__body{
        &-desc{
          font-size: 0.8rem;
        }
      }
    }
  }
}
